<ion-view title="Acontecimento" id="page18">
    <ion-nav-buttons side="left" class="has-header">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item" style=""><i
                class="icon ion-ios-arrow-back"></i> <span class="back-text"
                                                           style="transform: translate3d(0px, 0px, 0px);"></span>
        </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header refresh">
        <form id="administrador-form" class="list">
            <label class="item item-select" style="border: none; border-bottom: 1px solid #387ef5;">
                <span class="input-label">Filtrar por:</span>
                <select onchange="listarEventoFiltro(this.value)">
                    <option value="Todos">Todos</option>
                    <option value="Visivel">Visíveis</option>
                    <option value="Invisivel">Invisíveis</option>
                    <option value="1Mes">Esse mês</option>
                    <option value="6Mes">Ultimos 6 meses</option>
                </select>
            </label>
        </form>

        <ul class='list' id="inicioListaEventoHoje">

        </ul>

        <div class="spacer" style="width: 300px; height: 20.9896px;"></div>
    </ion-content>

    <ion-footer-bar style="padding: 0px; margin: 0px">
        <div ui-sref="cadastroEvento()" class="tabs positive-bg" style="background-color: #387ef5; color: white">
            <button style="background-color: #387ef5!important; border-color: transparent!important;" class="button icon-left ion-plus-round button-positive">Cadastrar
            </button>
        </div>
    </ion-footer-bar>

    <!--<ion-footer-bar style="padding: 0px; margin: 0px">-->
        <!--<div class="tabs tabs-icon-top" style="background-color: #387ef5; color: white">-->
            <!--<a class="tab-item" ui-sref="cadastroEvento()">-->
                <!--<i class="icon ion-plus-round"></i>-->
                <!--Cadastrar-->
            <!--</a>-->
        <!--</div>-->
    <!--</ion-footer-bar>-->

</ion-view>
<script>


</script>
