
<ion-view title="Administrador" id="page22">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear " ui-sref="tabsController.noticias" ></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <button-bar>
            <button class="button button-full button-positive" ui-sref="autenticarCadart()" onclick="cadartAutenticarVisibilidadeS()">Cadart</button>
            <button class="button button-full button-positive" ui-sref="administrador()">Eventos</button>
            <button class="button button-full button-positive" ui-sref="superAdministrador()">Surper Administrador</button>
            <button class="button button-full button-positive" onclick="deslogarAdministrador()">Sair</button>
        </button-bar>

    </ion-content>
</ion-view>