<ion-view title="Agenda cultural" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="agendaCultural-list26">
      <ion-item class="item-icon-left" id="agendaCultural-list-item32">
        <i class="icon ion-checkmark-round"></i>Cavalgada Da Pa...
        <span class="item-note">01/08/2018</span>
      </ion-item>
      <ion-item class="item-icon-left" id="agendaCultural-list-item31">
        <i class="icon ion-alert"></i>Arrocha Vieira
        <span class="item-note">05/08/2018</span>
      </ion-item>
      <ion-item class="item-icon-left" id="agendaCultural-list-item34">
        <i class="icon ion-alert"></i>Cavalgada Da Pa...
        <span class="item-note">16/08/2018</span>
      </ion-item>
      <ion-item class="item-icon-left" id="agendaCultural-list-item30">
        <i class="icon ion-alert"></i>Rodízio
        <span class="item-note">21/08/2018</span>
      </ion-item>
      <ion-item class="item-icon-left" id="agendaCultural-list-item24">
        <i class="icon ion-alert"></i>Festa do Clube
        <span class="item-note">26/08/2018</span>
      </ion-item>
      <ion-item class="item-icon-left" id="agendaCultural-list-item35">
        <i class="icon ion-alert"></i>Rodízio
        <span class="item-note">21/08/2018</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>