<ion-view title="Atualizar evento" id="page20" ng-controller="acontecimentoCtrl">

    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-clear icon ion-gear-a" ng-click="triggerActionSheet()"></button>
    </ion-nav-buttons>
    <ion-spinner class="carregando2" icon="bubbles" style="display: none"></ion-spinner>

    <ion-content padding="true" class="has-header has-footer">
        <label class="item item-input item-stacked-label " for="imputImg" style="border-bottom: none;">
            <img src="./img/sem-foto.jpg" id="imgThumbnail"
                 style="display: block; width: 100px; height: 120px; margin-left: auto; margin-right: auto;">
            <input type="file" id="inputImagem" style="display: none">
        </label>
        <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                class="button button-dark button-small button-block" id="imputImg"
                onclick="abrirImpFile('inputImagem')">Alterar Foto
        </button>

        <form class="list">

            <label class="item item-select" style="border-width: 1px 0; pointer-events: none; opacity: 0.6%">
                <span class="input-label">Tipo:</span>
                <select id="tipoUp" readonly="true">
                    <option value="">Selecione</option>
                    <option value="N">Notícia</option>
                    <option value="E">Evento</option>
                    <option value="C">Calendário</option>
                </select>
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Título" id="tituloUp">
            </label>

            <label class="item item-input">
                <textarea style="height: 35px;" placeholder="Descrição" rows="3" id="descricaoUp" readonly="true" onclick="habilitarDescricaoAcontecimento($('#tipoUp').val(), $('#descricaoUp'));"></textarea>
            </label>

            <label class="item item-input">
                <span class="input-label">Data:</span>
                <input type="date" id="dataEventoUp">
            </label>

            <label class="item item-input">
                <span class="input-label">Horário:</span>
                <input type="time" id="horarioUp">
            </label>

            <label class="item item-select" style="border-width: 1px 0;">
                <span class="input-label">Localidade:</span>
                <select id="localidadeUp">
                </select>
            </label>

            <label class="item item-input" id="labelLocal">
                <input type="text" placeholder="Local do evento na cidade" id="localUp">
            </label>
        </form>
    </ion-content>

    <ion-footer-bar style="padding: 0px; margin: 0px">
        <div class="tabs positive-bg" style="background-color: #387ef5; color: white" id="updateEventoBtn">
            <button style="background-color: #387ef5!important; border-color: transparent!important;" class="button icon-left ion-checkmark-round button-positive">Atualizar
            </button>
        </div>
    </ion-footer-bar>
</ion-view>