<ion-view title="Alterar arte" id="page37">

    <ion-content padding="true" class="has-header has-footer">

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome do povoado:</span>
                <input type="text" placeholder="Samanbaia" id="nomeLocalidadeUp">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Descrição:</span>
                <textarea id="descLocalidadeUp" rows="10" type="text" placeholder="Samanbaia é um povoado que foi criado em volta do ano..."></textarea>
            </label>
        </div>

    </ion-content>

    <ion-footer-bar style="padding: 0px; margin: 0px">
        <div id="updateLocalidadeBtn" class="tabs positive-bg" style="background-color: #387ef5; color: white">
            <button style="background-color: #387ef5!important; border-color: transparent!important;" class="button icon-left ion-checkmark-round button-positive">
                Alterar
            </button>
        </div>
    </ion-footer-bar>
</ion-view>