<ion-view id="page28" hide-nav-bar="true" style="background: #387ef5">

    <ion-content>
        <div class="cadastrar">
            <div class="cadastrar-tela">
                <div class="button-bar">
                    <a class="button button-clear estagio estagio1"
                       style="border-radius: 20px;font-size: 1rem;font-weight: bolder; color: #86e286"><i
                            class="icon ion-android-radio-button-on"></i></a>
                    <a class="button button-clear estagio estagio2"
                       style="border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white"><i
                            class="icon ion-android-radio-button-on"></i></a>
                    <a class="button button-clear estagio estagio3"
                       style="border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white"><i
                            class="icon ion-android-radio-button-on"></i></a>
                    <a class="button button-clear estagio estagio4"
                       style="border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white"><i
                            class="icon ion-android-radio-button-on"></i></a>
                    <a class="button button-clear estagio estagio5"
                       style="border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white"><i
                            class="icon ion-android-radio-button-on"></i></a>
                    <a class="button button-clear estagio estagio6"
                       style="border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white"><i
                            class="icon ion-android-radio-button-on"></i></a>

                </div>
                <div id="cdt-inicio" style="display: block">
                    <div class="" style="margin-top: 20px; margin-left: 15px; margin-right: 15px;">
                        <h4>O que é o cadart?</h4>
                        <p>É um projeto criado pela secretaria de cultura de Tobias Barreto SE que tem como objetivo
                            mapear os
                            artistas locais.</p>
                        <h4>Quais são os beneficios em se cadastrar?</h4>
                        <p>Cadastrando-se o artista estará exposto a todos que tem interesse em contratar seus serviços
                            assim como
                            poderá ser indicado para serviços ou eventos ligados a prefeitura ou serviços e eventos
                            privados.</p>
                        <h4>Quem pode se cadastrar?</h4>
                        <p>Toda pessoa que possua alguma arte e esteja disposta a compartilhar seu "dom" com todos!</p>
                    </div>
                    <div class="button-bar" style="margin-top: 20%;">
                        <a onclick="$('.cadastrar').hide()" class="button button-outline "
                           style="border:1px solid white;border-radius: 20px; font-size: 1rem; font-weight: bolder; color: white">Voltar</a>
                        <a onclick="posicaoCadastro('estagio2'),$('#cdt-inicio').hide(), $('#cdt-pessoal').show()"
                           class="button button-outline"
                           style="border:1px solid white;border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white">Próximo</a>
                    </div>
                </div>
                <div id="cdt-pessoal" style="display: none">
                    <h3 style="text-align: center">Nos passe alguns dados!</h3>

                    <h4>Seu nome completo: (obrigatório)</h4>
                    <input type="text" id="nomeCompleto" onkeyup="validacaoEtapa2()" class="obrigatorio2"
                           placeholder="João Roberto da Silva">
                    <h4>Qual seu nome artístico? (obrigatório)</h4>
                    <input type="text" id="nomeArtistico" onkeyup="validacaoEtapa2()" class="obrigatorio2"
                           placeholder="Joãozinho">
                    <h4>E Sua arte? (obrigatório)</h4>
                    <select style="margin-bottom: 3px ; width: 100%; height: 35px; background: transparent; border: none; border-bottom: 1px solid white; color: white;"
                            id="cdtArte" class="obrigatorio2" onchange="validacaoEtapa2(), addArteLista()">

                    </select>
                    <ul id="artesSelecLista">

                    </ul>
                    <div class="button-bar" style="margin-top: 20%;">
                        <a id="voltar2"
                           onclick="posicaoCadastro('estagio1'),$('#cdt-inicio').show(), $('#cdt-pessoal').hide()"
                           class="button button-outline "
                           style="border:1px solid white;border-radius: 20px; font-size: 1rem; font-weight: bolder; color: white">Voltar</a>
                        <a id="proximo2" disabled
                           onclick="posicaoCadastro('estagio3'),$('#cdt-pessoal').hide(), $('#cdt-descricao').show()"
                           class="button button-outline"
                           style="border:1px solid white;border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white">Proximo</a>
                    </div>
                </div>

                <div id="cdt-descricao" style="display: none;  margin-top: 5%;">
                    <h3 style="text-align: center">Fale mais sobre você!</h3>

                    <h4>Descreva o que faz! (obrigatório)</h4>
                    <textarea id="descricaoArtista" onkeyup="validacaoEtapa3()" rows="5" maxlength="500"
                              placeholder="Sou cantor e tenho uma banda chamada Arroz com Feijão"></textarea>
                    <h4>Qual sua idade? (obrigatório)</h4>
                    <input id="idadeArtista" onkeyup="validacaoEtapa3()" type="number" placeholder="25">
                    <div>
                        <h4>Com qual gênero você se identifica? (obrigatório)</h4>
                        <select style="width: 100%; height: 35px; background: transparent; border: none; border-bottom: 1px solid white; color: white;"
                                id="generoArtista" onchange="validacaoEtapa3()">
                            <option value="0">Prefiro não informar</option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                    <div class="button-bar" style="margin-top: 20%;">
                        <a id="voltar3"
                           onclick="posicaoCadastro('estagio2'),$('#cdt-pessoal').show(), $('#cdt-descricao').hide()"
                           class="button button-outline "
                           style="border:1px solid white;border-radius: 20px; font-size: 1rem; font-weight: bolder; color: white">Voltar</a>
                        <a id="proximo3" disabled
                           onclick="posicaoCadastro('estagio4'),$('#cdt-descricao').hide(), $('#cdt-contato').show(),$('.cadastrar').css('height', tamanhoTela())"
                           class="button button-outline"
                           style="border:1px solid white;border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white">Proximo</a>
                    </div>
                </div>

                <div id="cdt-contato" style="display: none;  margin-top: 5%;">
                    <h3 style="text-align: center">Como podemos entrar em contato?</h3>

                    <h4>Qual o seu email? (obrigatório)</h4>
                    <input id="emailCadastro" onkeyup="validacaoEtapa4()" type="email"
                           placeholder="joaoroberto@e-mail.com">
                    <h4>E o seu telefone? (obrigatório)</h4>
                    <input id="telCadastro" onkeyup="validacaoEtapa4()" type="text" placeholder="00-00000-0000"
                           onclick="$(this).mask('00-00000-0000')">
                    <h4 style="text-align: center">Quer compartilhar suas redes sociais? (Opcional)</h4>

                    <h4><i class="icon ion-social-facebook"></i> Facebook? (link do perfil) </h4>
                    <input id="fbCadastro" type="text" placeholder="https://www.facebook.com/joaozinhoinho.silva">
                    <h4><i class="icon ion-social-youtube-outline"></i> Youtube:? (link do video/canal)</h4>
                    <input id="ytCadastro" type="text" placeholder="https://www.youtube.com/watch?v=gYaZY-gFh2c">
                    <h4><i class="icon ion-social-instagram-outline"></i> Instagram: (nome de usuario)</h4>
                    <input id="inCadastro" type="text" placeholder="joazinhoinho_inho">
                    <div class="button-bar" style="margin-top: 10%;">
                        <a onclick="posicaoCadastro('estagio3'),$('#cdt-descricao').show(), $('#cdt-contato').hide(),$('.cadastrar').css('height', tamanhoTela())"
                           class="button button-outline "
                           style="border:1px solid white;border-radius: 20px; font-size: 1rem; font-weight: bolder; color: white">Voltar</a>
                        <a id="proximo4" disabled
                           onclick="posicaoCadastro('estagio5'),$('#cdt-contato').hide(), $('#cdt-seguranca').show()"
                           class="button button-outline"
                           style="border:1px solid white;border-radius: 20px;font-size: 1rem;font-weight: bolder; color:
                        white">Proximo</a>
                    </div>
                </div>

                <div id="cdt-seguranca" style="display: none;  margin-top: 5%;">
                    <h3 style="text-align: center">Quase pronto!</h3>

                    <h4>Ponha uma foto de perfil! (obrigatório)</h4>
                    <label class="item item-input item-stacked-label" for="imputImg" style="border-bottom: none">
                        <img src="./img/user-foto.png" id="imgThumbnail"
                             style="display: block; width: 100px; height: 120px; margin-left: auto; margin-right: auto;">
                        <input type="file" id="inputImagem" style="display: none">
                    </label>
                    <button style="border:1px solid white;border-radius: 20px; font-size: 1rem; font-weight: bolder; color: white; width: 100%"
                            class="button button-small button-outline" id="imputImg"
                            onclick="abrirImpFile('inputImagem')" onchange="validacaoEtapa5()">Alterar Foto
                    </button>

                    <h4>Coloque uma senha segura! (obrigatório)</h4>
                    <input id="senhaCadastro" onkeyup="validacaoEtapa5()" type="text" placeholder="25">

                    <div class="button-bar" style="margin-top: 20%;">
                        <a onclick="posicaoCadastro('estagio2'),$('#cdt-pessoal').show(), $('#cdt-descricao').hide()"
                           class="button button-outline "
                           style="border:1px solid white;border-radius: 20px; font-size: 1rem; font-weight: bolder; color: white">Voltar</a>
                        <a id="proximo5" disabled
                           onclick="cadastrarArtista(), posicaoCadastro('estagio4'),$('#cdt-pessoal').hide(),$('.cadastrar').css('height', tamanhoTela())"
                           class="button button-outline"
                           style="border:1px solid white;border-radius: 20px;font-size: 1rem;font-weight: bolder; color: white">Cadastrar</a>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>


</ion-view>
