<ion-view id="page23" title="Autenticar usuarios">
    <ion-header-bar class="bar bar-subheader subCabecalho">
        <div class="button-bar">
            <a class="button button-calm button-small barra-autenticar desbilitado" disabled >Novos</a>
            <a class="button button-calm button-small barra-autenticar" ui-sref="autenticadosCadart" >Autenticados</a>
        </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header">
        <ion-refresher on-refresh="doRefresh()" spinner="crescent" pulling-icon="ion-ios-arrow-down">
        </ion-refresher>

        <ion-list id="listaCadartAutentiar">
    </ion-list>
    </ion-content>
</ion-view>
