<ion-view id="page24"  title="Usuarios autenticados">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear" ui-sref="tabsController.noticias" onclick="pullToRefreshHome()"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader subCabecalho">
        <div class="button-bar">
            <a class="button button-calm button-small barra-autenticar " ui-sref="autenticarCadart" onclick="cadartAutenticarVisibilidadeS()">Novos</a>
            <a class="button button-calm button-small barra-autenticar " disabled>Autenticados</a>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header ">
        <ion-list id="listaCadartAdm">
        </ion-list>
    </ion-content>

</ion-view>
