<ion-view title="Cadastrar" id="page14">
    <ion-nav-buttons side="left" class="has-header">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"><i
                class="icon ion-ios-arrow-back"></i> <span class="back-text"
                                                           style="transform: translate3d(0px, 0px, 0px);"></span>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 5px;"></div>


        <label class="item item-input item-stacked-label" for="imputImg" style="border-bottom: none">
            <img src="./img/semfoto.png" id="imgThumbnail"
                 style="display: block; width: 100px; height: 120px; margin-left: auto; margin-right: auto;">
            <input type="file" id="inputImagem" style="display: none">
        </label>
        <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                class="button button-dark button-small button-block" id="imputImg"
                onclick="abrirImpFile('inputImagem')">Alterar Foto
        </button>

        <form class="list alinharEstrelinha">
            <label class="item item-input">
                <input type="text" placeholder="Nome completo" id="nomeCdt" style="display: inline-block">
                <div>*</div>
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Nome artístico (como você é conhecido?)" id="nomeArtCdt" style="display: inline-block">
                <div>*</div>
            </label>

            <label class="item item-input">
                <textarea maxlength="500" placeholder="Uma breve descrição sobre você" style="display: inline-block"
                          id="descricaoCdt"></textarea>
                <div>*</div>
            </label>
            <label class="item item-input">
                <textarea placeholder="Projetos do momento ou futuros" id="projetosCdt" style="display: inline-block"
                          maxlength="400"></textarea>
                <div>*</div>
            </label>

            <label class="item item-input">
                <input type="text" placeholder="CPF" id="cpfCdt" style="display: inline-block">
                <div>*</div>
            </label>
            <p class="invalido" id="cpfCdtInvalido" style="display: none">Cpf Inválido!</p>

            <label class="item item-input">
                <input type="email" placeholder="Email" id="emalCdt" style="display: inline-block">
                <div>*</div>
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Telefone Ex: 00-00000-0000" id="telCdt" style="display: inline-block">
                <div>*</div>
            </label>
            <p id="telInvalido" class="invalido" style="display: none;">Telefone precisa ser válido!</p>

            <label class="item item-input">
                <input type="number" id="dataNascimentoCdt" placeholder="Idade" style="display: inline-block">
                <div>*</div>
            </label>
            <p id="idadeInvalido" class="invalido" style="display: none;">Idade inválida!</p>

            <label>
                <select id="sexoCdt" class="item item-input">
                    <option value="">Gênero:</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                    <option value="o">Outros</option>
                </select>
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Senha" id="senhaCdt" style="display: inline-block">
                <div>*</div>
                <br>
            </label>
            <p class="invalido" id="senhaCdtInvalido" style="display: none">Senha deve conter no pelo mínimo 6
                caracteres!</p>

            <label class="item item-input">
                <input type="password" placeholder="Digite a senha novamente" id="senhaRedCdt"
                       style="display: inline-block">
                <div>*</div>
            </label>
            <p class="invalido" id="senhaRedCdtInvalido" style="display: none">Senhas Inorretas!</p>

            <label class="item item-input redeSocial">
                <i style="margin-right: 8px" class="icon ion-social-facebook-outline"></i>
                <input type="text" id="redeSocial1" placeholder="Link do seu perfil no Facebook">
            </label>

            <label class="item item-input redeSocial">
                <i style="margin-right: 8px" class="icon ion-social-instagram-outline"></i>
                <input type="text" id="redeSocial2" placeholder="Nome de usuário no Instagram">
            </label>

            <label class="item item-input redeSocial">
                <i style="margin-right: 8px" class="icon ion-social-youtube-outline"></i>
                <input type="text" id="redeSocial3" placeholder="Link do vídeo ou canal no YouTube">
            </label>

            <span class="divSelect">
                <select id="arteCdt" class="item">
                    <option value="">Arte:</option>
                    <option value="1">Ator/Atriz</option>
                    <option value="2">Músico</option>
                    <option value="3">Pintor</option>
                    <option value="4">Dançarino</option>
                    <option value="5">Escritor</option>
                </select>
            </span>

            <p class="invalido" id="cadastroRedCdtInvalido" style="display: none">Preencha todos os campos!</p>

            <button id="cadastrarCdt" onclick="validarCampos()" class="button button-positive button-block">Cadastrar
            </button>
        </form>

    </ion-content>
</ion-view>
<script>
    $(document).ready(function () {
        location.reload();
    });
</script>