<ion-view title="Cadastrar" id="page14">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <div>
            <img src="img/semfoto.png" id="tableBanner"
                 style="display: block; width: 100px; height: 120px; margin-left: auto; margin-right: auto;">
            <input id="bannerImg" type="file" style="display: none" class="btnFotoCadartCdt">
            <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                    class="button button-dark button-small button-block" id="btnFotoCadart" onclick="saveFotoLSUp(1)">
                Alterar Foto
            </button>
        </div>


        <form id="cadastrar-form9" class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Descrição:</span>
                <textarea maxlength="500" placeholder="Escreva uma breve descrição sobre você"
                          id="descricaoCdt"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Projetos Atuais:</span><textarea
                    placeholder="O que esta fazendo ou projetos futuros" id="projetosCdt"
                    maxlength="400"></textarea></label>
            <label class="item item-input item-stacked-label">
                <span class="input-label ">Nome*</span>
                <input type="text" placeholder="Seu nome completo" id="nomeCdt">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label ">Nome Artístico*</span>
                <input type="text" placeholder="Nome pelo qual é conhecido" id="nomeArtCdt">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">CPF*</span>
                <input type="text" placeholder="Seu Cpf" id="cpfCdt">
                <p class="invalido" id="cpfCdtInvalido" style="display: none">Cpf Inválido!</p>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Email*</span>
                <input type="email" placeholder="Seu Email" id="emalCdt">
            </label>

            <label class="item item-input redeSocial">
                <span class="input-label icon-right"><i style="margin-right: 8px" class="icon ion-social-facebook-outline"></i> Facebook</span>
                <input type="text" id="redeSocial1" placeholder="Link do seu perfil">
            </label>

            <label class="item item-input redeSocial">
                <span class="input-label"><i style="margin-right: 8px" class="icon ion-social-instagram-outline"></i>Instagram</span>
                <input type="text" id="redeSocial2" placeholder="Nome de usuário">
            </label>

            <label class="item item-input redeSocial">
                <span class="input-label"><i style="margin-right: 8px" class="icon ion-social-youtube-outline"></i>Youtube</span>
                <input type="text" id="redeSocial3"  placeholder="Link do video ou canal">
            </label>


            <div style="display: inline-block; margin: 0px; width: 100%">
                <label class="item item-input" style="margin: 0px; width: 49.3%; display: inline-block;">
                    <span class="input-label ">Telefone</span>
                    <input type="text" id="telCdt" placeholder="00-00000-0000">
                    <p id="telInvalido" style="display: none; color: red; text-align: left; font-size: 9pt;">Telefone
                        precisa ser válido</p>
                </label>
                <label class="item item-input" style="margin: 0px; width: 49%; display: inline-block;">
                    <span class="input-label" for="dtNascimentoUp">Sua Idade</span>
                    <input type="number" id="dataNascimentoCdt">
                </label>
            </div>
            <div class="divSelect">
                <select id="sexoCdt" class="item">
                    <option value="">Seu Gênero</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                </select>

                <select id="arteCdt" class="item">
                    <option value="">Sua Arte?</option>
                    <option value="1">Ator/Atriz</option>
                    <option value="2">Músico</option>
                    <option value="3">Pintor</option>
                    <option value="4">Dançarino</option>
                    <option value="5">Escritor</option>
                </select>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha*</span>
                <input type="password" placeholder="Sua Senha" id="senhaCdt">
                <p class="invalido" id="senhaCdtInvalido" style="display: none">Senha deve conter no pelo mínimo 6
                    caracteres!</p>

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha*</span>
                <input type="password" placeholder="Confirmar Senha" id="senhaRedCdt">
                <p class="invalido" id="senhaRedCdtInvalido" style="display: none">Senhas Inorretas!</p>
            </label>
            <p class="invalido" id="cadastroRedCdtInvalido" style="display: none">Preencha todos os campos!</p>

            <button id="cadastrarCdt" onclick="validarCampos()" class="button button-dark button-block">Cadastrar
            </button>

        </form>
    </ion-content>
</ion-view>