<ion-view title="Cadart" id="page3">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-clear icon ion-android-refresh" onclick="atualizarPaginas()"></button>
    </ion-nav-buttons>

    <div class="fab">
        <span class="fab-action-button" id="fabBtn" onclick="aparecer(), $('.fab-buttons').toggle();">
            <i class="icon ion-android-add iconFab"></i>
        </span>
        <ul class="fab-buttons" style="display: none">
            <li class="fab-buttons__item alt-estado" style="display: block;">
                <a ui-sref="artista()" class="fab-buttons__link">
                    <i class="icon ion-person-add iconCentro"><span class="dataAlgum">Cadastre-se</span></i>
                </a>
            </li>
            <li class="fab-buttons__item alt-estado" style="display: block;">
                <a ui-sref="login()" class="fab-buttons__link">
                    <i class="icon ion-log-in iconCentro"><span class="dataAlgum">Entrar</span></i>
                </a>
            </li>
            <li class="fab-buttons__item alt-estado" style="display: none;">
                <a ui-sref="usuario()" class="fab-buttons__link">
                    <i class="icon ion-person-stalker iconCentro"><span class="dataAlgum">Meus dados</span></i>
                </a>
            </li>
            <li class="fab-buttons__item alt-estado" style="display: none;">
                <a class="fab-buttons__link" onclick="sairUsuario()">
                    <i class="icon ion-log-out iconCentro"><span class="dataAlgum">Sair</span></i>
                </a>
            </li>
            <li class="fab-buttons__item">
                <a ui-sref="infoCadart()" class="fab-buttons__link">
                    <i class="icon ion-information-circled iconCentro"><span class="dataAlgum">Sobre</span></i>
                </a>
            </li>
        </ul>
    </div>
    <ion-content padding="true" class="has-header">

        <ion-list id="listaCadart"></ion-list>

    </ion-content>
</ion-view>