<ion-view title="Cadastro de evento" id="page19">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear " ui-sref="tabsController.noticias" ></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header has-footer">
        <label class="item item-input item-stacked-label" for="btnFotoCadart">
            <img src="img/semImagem.png" id="tableBannerEventoCdt" style="display: block; width: 300px; height: 250px; margin-left: auto; margin-right: auto;">
            <input type="file" id="inputImagemEventoCdt" style="display: none" >
        </label>
        <button style="font-size:15px;border-radius:5px 5px 5px 5px;"class="button button-dark button-small button-block" id="btnFotoCadart" onclick="abrirImpFile('inputImagemEventoCdt')">Alterar Foto</button>

        <form class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Titulo</span>
                <input type="text" placeholder="" id="tituloAdm">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Descrição</span>
                <textarea placeholder="" rows="3" id="descricaoAdm"></textarea>
            </label>

            <label class="item item-input item-stacked-label" >
                <span class="input-label">Data do Evento</span>
                <input type="date" placeholder="" id="dataEventoAdm">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Horário</span>
                <input type="time" placeholder="" id="horarioAdm">
            </label>

            <label class="item item-select">
                <span class="input-label">Localidadde</span>
                <select id="localidadeAdm">
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Tipo do Evento</span>
                <select  id="tipoAdm" onchange="mostrarInputCadastroEvento()">
                    <option value="">Selecione</option>
                    <option value="p">Pequeno</option>
                    <option value="g">Grande</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"></span>
                <input type="text" placeholder="Local do evento na cidade" id="localAdm">
            </label>
        </form>


    </ion-content>

    <ion-footer-bar style="padding: 0px; margin: 0px">
        <div class="buttons positive " style="width: 100%; display: block; margin: 0px; padding: 0px">
            <button  id="cadastrarCadart" onclick="validarCadastroEvento()"  class="button button-block btn-preto button-full" style=" padding: 0px; margin: 0px; height: 100%;
    font-size: medium; color: white;
    ">Cadastrar
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
<script>
    $( document ).ready(function() {
        location.reload();
    });
</script>