<ion-view title="Cadastro de evento" id="page30">

    <div style="display: block" id="origemToggle" onclick="mostrarTipoAcontecimento();">
        <ion-content padding="true" class="has-header has-footer">
            <button-bar>
                <button class="button button-full button-positive" onclick="localStorage.setItem('origemAcom', 10)">
                    Patrocinado
                </button>
                <button class="button button-full button-positive" onclick="localStorage.setItem('origemAcom', 20)">
                    Publicidade
                </button>
                <button class="button button-full button-positive" onclick="localStorage.setItem('origemAcom', 30)">
                    Oficial
                </button>
                <button class="button button-full button-positive" onclick="localStorage.setItem('origemAcom', 40)">
                    Comunidade
                </button>
            </button-bar>
        </ion-content>
    </div>

    <div style="display: none" id="cadastroAcon">

        <ion-content padding="true" class="has-header has-footer">

            <label class="item item-input item-stacked-label" for="imputImg" style="border-bottom: none;">
                <img src="./img/sem-foto.jpg" id="imgThumbnail"
                     style="display: block; width: 300px; height: 250px; margin-left: auto; margin-right: auto;">
                <input type="file" id="inputImagem" style="display: none">
            </label>
            <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                    class="button button-dark button-small button-block" id="imputImg"
                    onclick="abrirImpFile('inputImagem')">Alterar Foto
            </button>

            <div style="display: block" id="tipoToggle">
                <div class="item item-divider">
                    Tipo acontecimento:
                </div>

                <ion-radio ng-repeat="item in acontecimentoList" ng-value="item.value" ng-click="serverSideChange(item)"
                           ng-model="data.acontecimentoSide">
                    {{ item.text }}
                </ion-radio>
            </div>

            <form class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Título" id="tituloAdm">
                </label>

                <label class="item item-input">
                    <textarea readonly="true" style="height: 35px;" placeholder="Descrição do acontecimento" rows="3"
                              id="descricaoAdm"></textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">Data:</span>
                    <input type="date" id="dataEventoAdm">
                </label>

                <label class="item item-input">
                    <span class="input-label">Horário:</span>
                    <input type="time" placeholder="" id="horarioAdm">
                </label>

                <label class="item item-select" style="border-width: 1px 0;">
                    <span class="input-label">Localidade:</span>
                    <select id="localidadeAdm">
                    </select>
                </label>

                <label class="item item-input" id="labelLocal" style="display: none">
                    <input type="text" placeholder="Local do evento na cidade" id="localAdm">
                </label>

                <div id="tipoValor">

                </div>
            </form>

        </ion-content>

        <ion-footer-bar style="padding: 0px; margin: 0px">
            <div onclick="validarCadastroAcontecimento()" class="tabs positive-bg"
                 style="background-color: #387ef5; color: white">
                <button style="background-color: #387ef5!important; border-color: transparent!important;"
                        class="button icon-left ion-checkmark-round button-positive">Cadastrar
                </button>
            </div>
        </ion-footer-bar>
    </div>
</ion-view>