<ion-view title="Calendário" id="page12">
    <ion-content padding="true" class="has-header">
        <div>
            <ion-item class="item-icon-right" onclick="expandir('janeiroEvent',this.id)" id="jan">
                Janeiro
                <i class="icon ion-plus"></i>
            </ion-item>
            <ion-list  style="display: none;" class="janeiroEvent" >
                <ion-item class=" ">
                    Concurso de Dança
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>