<ion-view title="Calendário" id="page12">
    <ion-content padding="true" class="has-header">
        <div>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="jan"
                    onclick="expandir('janeiroEvent',this.id)">
                Janeiro
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="janeiroEvent">
                <p id="janeiroEvent" style="display: none; color: red; font-size: 1rem; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="fev"
                    onclick="expandir('fevEvent',this.id)">
                Fevereiro
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="fevEvent">
                <p id="fevEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="mar"
                    onclick="expandir('marEvent',this.id)">
                Março
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="marEvent">
                <p id="marEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="abr"
                    onclick="expandir('abrEvent',this.id)">
                Abril
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="abrEvent">
                <p id="abrEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="mai"
                    onclick="expandir('maiEvent',this.id)">
                Maio
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="maiEvent">
                <p id="maiEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>


            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="jun"
                    onclick="expandir('junEvent',this.id)">
                Junho
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="junEvent">
                <p id="junEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>


            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="jul"
                    onclick="expandir('julEvent',this.id)">
                Julho
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="julEvent">
                <p id="julEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="ago"
                    onclick="expandir('agoEvent',this.id)">
                Agosto
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="agoEvent">
                <p id="agoEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="set"
                    onclick="expandir('setEvent',this.id)">
                Setembro
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="setEvent">
                <p id="setEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="out"
                    onclick="expandir('outEvent',this.id)">
                Outubro
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="outEvent">
                <p id="outEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="nov"
                    onclick="expandir('novEvent',this.id)">
                Novembro
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="novEvent">
                <p id="novEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>

            <button class="button button-block button-outline button-positive button-small item-icon-right" id="dez"
                    onclick="expandir('dezEvent',this.id)">
                Dezembro
                <i class="icon ion-plus"></i>
            </button>
            <ion-list style="display: none;" class="dezEvent">
                <p id="dezEvent" style="display: none; color: red; font-size: 13px; text-align: center">Nenhum evento previsto para esse mês!</p>

            </ion-list>
        </div>
    </ion-content>
</ion-view>