<ion-view title="Calendário" id="page12">
    <ion-content padding="true" class="has-header">
        <ion-refresher on-refresh="doRefresh()" spinner="crescent" pulling-icon="ion-ios-arrow-down">
        </ion-refresher>
        <div>
            <a onclick="listarEventosCalendario(this.id, 'Janeiro')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="01">
                Janeiro
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Fevereiro')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="02">
                Fevereiro
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Março')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="03">
                Março
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Abril')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="04">
                Abril
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Maio')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="05">
                Maio
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Junho')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="06">
                Junho
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Julho')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="07">
                Julho
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Agosto')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="08">
                Agosto
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Setembro')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="09">
                Setembro
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Outubro')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="10">
                Outubro
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Novembro')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="11">
                Novembro
                <i class="icon ion-android-calendar"></i>
            </a>
            <a onclick="listarEventosCalendario(this.id, 'Dezembro')"
               class="button button-block button-outline button-positive button-small item-icon-right" id="12">
                Dezembro
                <i class="icon ion-android-calendar"></i>
            </a>

        </div>
    </ion-content>
</ion-view>