<ion-view title="Clonar acontecimento" id="page20" ng-controller="acontecimentoCtrl">
    <ion-spinner class="carregando2" icon="bubbles" style="display: none"></ion-spinner>

    <ion-content padding="true" class="has-header has-footer">
        <label class="item item-input item-stacked-label" for="imputImg" style="border-bottom: none;">
            <img src="./img/sem-foto.jpg" id="imgThumbnail" class="imgThumbnail1"
                 style="display: block; width: 100px; height: 120px; margin-left: auto; margin-right: auto;">
            <input type="file" id="inputImagem" style="display: none">
        </label>
        <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                class="button button-dark button-small button-block" id="imputImg"
                onclick="abrirImpFile('inputImagem')">Alterar Foto
        </button>

        <h4>Tipo do acontecimento&hellip;</h4>
        <section id="sectionTipo">
            <div>
                <input type="radio" id="control_01" name="select" value="N" checked>
                <label for="control_01">
                    <h5>Notícia</h5>
                    <p>Aparecerá na tela inicial, são os acontecimentos de maior visibilidade.</p>
                </label>
            </div>
            <div>
                <input type="radio" id="control_02" name="select" value="E">
                <label for="control_02">
                    <h5>Evento</h5>
                    <p>São os eventos mais próximos e relativamente menores.</p>
                </label>
            </div>
            <div>
                <input type="radio" id="control_03" name="select" value="C">
                <label for="control_03">
                    <h5>Calendario</h5>
                    <p>Acontecimentos sazonais e pré definidos.</p>
                </label>
            </div>
        </section>

        <form class="list">

            <label class="item item-input desabilitado">
                <input type="text" placeholder="Título" id="tituloCl">
            </label>

            <label class="item item-input">
                <span id="numCaractDescricao" style="float: right; width: 5px; margin-right: 9px; border: 1px solid white; border-radius: 15%; padding: 4px; display: table;">0/0</span>
                <textarea style="height: 35px;" placeholder="Descrição" id="descricaoCl"
                          onkeypress='habilitarDescricaoAcontecimento($("input[name=\"select\"]:checked").val(), $("#descricaoCl"))'></textarea>
            </label>

            <label class="item item-input desabilitado">
                <span class="input-label">Data:</span>
                <input type="date" id="dataEventoCl">
            </label>

            <label class="item item-input">
                <span class="input-label">Horário:</span>
                <input type="time" id="horarioCl">
            </label>

            <label class="item item-select desabilitado" style="border-width: 1px 0;">
                <span class="input-label">Localidade:</span>
                <select id="localidadeCl">
                </select>
            </label>

            <label class="item item-input" id="labelLocal" style="display: none">
                <input type="text" placeholder="Local do evento na cidade" id="localCl">
            </label>
        </form>
    </ion-content>

    <ion-footer-bar style="padding: 0px; margin: 0px">
        <div class="tabs positive-bg" style="background-color: #387ef5; color: white">
            <button style="background-color: #387ef5!important; border-color: transparent!important;" onclick="validarCloneAcontecimento()"
                    class="button icon-left ion-checkmark-round button-positive">Clonar
            </button>
        </div>
    </ion-footer-bar>
</ion-view>