<ion-view title="Cultura" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-home button-clear " ui-sref="tabsController.noticias" ></button>
  </ion-nav-buttons>
  <ion-spinner class="carregando2" icon="bubbles" style="display: none"></ion-spinner>
  <ion-content padding="true" class="has-header">
    <ion-list id="cultura-list24">
      <ion-item class="item-thumbnail-left item-icon-right dark" id="cultura-list-item13" ui-sref="cultTobias">
        <img src="img/8vVpimXRRnO1jfxmBPHd_tobias.jpg">
        <h2dark>Tobias Barreto de Meneses
          <p style="white-space:normal;" id="descricao">Jurista, escritor, poeta... São muitos os talentos desse patriarca sergipano!</p>
          <i class="icon ion-android-add"></i>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>

    <div class="list card" id="cultura-card24" ui-sref="cultTobiasCidade">
      <ion-item class="item-icon-left" id="cultura-list-item22">
        <i class="icon ion-android-star-outline"></i>Tobias Barreto a Cidade</ion-item>
      <div class=" item item-image">
        <img src="img/iEpQ3qQ9S6aoctpPEPBX_igreja.jpg" style="display:block;width:100%;height:auto;">
      </div>
    </div>
    <div id="cultura-markdown15" class="show-list-numbers-and-dots">
      <p>Saiba mais sobre uma das cidades de mais expressão Sergipana!</p>
    </div>
  </ion-content>
</ion-view>