<ion-view title="Tobias Barreto de Menezes" id="page26" style="background-color:#D1D1D1;">
    <ion-content padding="true" class="has-header">
        <ion-item class="item">
            <img src="img/8vVpimXRRnO1jfxmBPHd_tobias.jpg" style="margin-left: 75px; ">
        </ion-item>
        <div class="desc-inf-page pCult">
            <p>Tobias Barreto (Tobias Barreto de Meneses) nasceu na vila sergipana de Campos, a 7 de
            junho de 1839 e faleceu no Recife,
            em 27 de junho de 1889, sendo filho de Pedro Barreto de Meneses, escrivão de órfãos e ausentes da
                localidade.</p>
            <p>É o patrono da cadeira nº 38 da Academia Brasileira de Letras, por escolha do fundador, seu discípulo e
            amigo Sílvio Romero.</p>

            <p>Aprendeu as primeiras letras com o professor Manuel Joaquim de Oliveira Campos. Estudou Latim com o padre
            Domingos Quirino,
            dedicando-se com tal aproveitamento que, em breve, iria ensinar a matéria em Itabaiana.</p>

            <p>Em 1861 seguiu para a Bahia com a intenção de frequentar um seminário mas, sem vocação firme, desistiu de
            imediato.</p>
            <p>Sem ter prestado exames preparatórios voltou à sua vila donde saira com destino a Pernambuco. Entre 1854 e
            1865 o jovem Tobias,
            para sobreviver, deu aulas particulares de diversas matérias. Na ocasião prestou concurso para a cadeira de
            Latim no Ginásio Pernambucano,
            sem conseguir, contudo, a desejada nomeação.</p>

            <p>Em 1867 disputou a vaga de Filosofia no referido estabelecimento. Venceu o prélio em primeiro lugar,
            mas é preterido mais uma vez por outro candidato. Para ocupar o tempo entrega-se com afinco à leitura dos
            evolucionistas
            estrangeiros, sobretudo o alemão Ernest Haeckel que se tornaria um dos mais famosos cientistas da época com
            seus livros Os enigmas
            do Universo e As maravilhas da Vida.</p>

            <p>Poeta medíocre, na oratória Tobias se revelava um mestre, qualquer que fosse o tema escolhido para debate.
            O estudo da Filosofia empolgava o sergipano que nos jornais universitários publicou “Tomás de Aquino",
            “Teologia e
            Teodiceia não são ciências", "Jules Simon", etc. Ainda antes de concluir o curso de Direito casou-se com a
            filha de um coronel do interior,
            proprietário de engenhos no município de Escada.</p>

            <p>Eleito para a Assembléia Provincial não conseguiu progredir na política local. Dedicou vários anos a
            aprofundar-se no estudo do Alemão,
            para poder ler no original alguns dos ensaístas germânicos, à frente deles Ernest Haeckel e Ludwig Büchner.
            Mais tarde sairiam de sua pena os Estudos alemães.</p>

            <p>A residência em Escada durou cerca de dez anos. Ao voltar ao Recife, aos escassos proventos que recebia
            juntaram-se
            os problemas de saúde que acabaram por impedi-lo de sair de casa. Tentou uma viagem à Europa para
            restabelecer-se fisicamente.
            Faltavam-lhe os recursos financeiros para isso. No Recife abriram-se subscrições para ajudá-lo a custear-lhe
            as despesas.</p>
            <p>Em 1889 estava praticamente desesperado. Uma semana antes de morrer enviou uma carta a Sílvio Romero
            solicitando, angustiosamente,
            que lhe enviasse o dinheiro das contribuições que haviam sido feitas até 19 de junho daquele ano. Dias mais
            tarde falecia, em 27 de junho de 1889, hospedado na casa de um amigo.</p>
        </div>
    </ion-content>
</ion-view>