<ion-view title="Tobias Barreto - SE" id="page25" style="background-color:#D1D1D1;">
    <ion-content padding="true" class="has-header">
    <ion-item class="item">
        <img src="img/Mapa_de_Localização.png" style="margin-left: 75px; width: 200px; ">
    </ion-item>
    <div class="desc-inf-page">
    <ol class="list-item pCult">
        <li><h4>Localizada na região do Vale do Rio Real do Estado, em Sergipe, nordeste do Brasil:</h4>
        <p>Tobias Barreto surgiu no final do século XVI em um sítio de aproximadamente 40 tarefas,
            onde apareceu uma imagem de Nossa Senhora. E em homenagem a esta os camponeses construíram
            uma capelinha e fizeram residências em volta dela formando uma aldeia batizada de Paraíso.
            A imagem de Nossa Senhora desapareceu por duas vezes sendo encontrada num matagal próximo.</p>
        <p>Na segunda vez destruíram o matagal e construíram outra capelinha onde hoje fica a Igreja Matriz.</p>
        <p>Nossa Senhora Imperatriz dos Campos e o novo povoado recebeu o nome Capela de Nossa Senhora dos Campos do Rio Traripe,
            hoje Rio Real, por estar situado às margens desse rio. Com o tempo se chamou Vila de Campos do Rio Real
            e o nome do povoado foi simplificando até ser chamado apenas de Campos. Em 17 de janeiro de 1835,
            o povoado foi elevado à categoria de vila.</p>
        <p>Em 1909 foi elevado à categoria de município e pelo Decreto-lei Estadual nº 377 o distrito de Campos passou a denominar-se Tobias Barreto.
        </p>
        </li>
        <ion-item class="item">
            <img src="img/Feira.JPG" style="margin-left: auto; width: 300px; ">
        </ion-item>
        <li><h4>Famosa por ser a Capital dos bordados:</h4>
        <p>Conhecida por sua grande Feira da coruja que faz referência a feira que começa aos domingos pela manhã e termina às segundas de tarde, a feira do Municipio do vale do rio real
            é conhecida por receber comerciantes de todos os estados a redores de sergipe, incluindo principalmente do Estado da Bahia, onde faz divisa.</p>
            <p>Por estar em uma boa localização geografica, e por conter produtos de alta qualidade e baixo preço para revenda, fica fácil escolher o destino de compra
            quando o objetivo é economia e qualidade.
        </p>
        </li>
    </ol>
    </div>
    </ion-content>
</ion-view>