<ion-view title="Editais" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="editais-list27">
      <ion-item class="item-icon-left item-icon-right" id="editais-list-item36">
        <i class="icon No Icon"></i>Concurso de Dança
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="editais-list-item9">
        <i class="icon No Icon"></i>Concurso de Teadro
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="editais-list-item11">
        <i class="icon No Icon"></i>Concurso de Poesia
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="editais-list-item14">
        <i class="icon No Icon"></i>Concurso de Música
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>