<ion-view id="page35" title="">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-spinner class="carregando2" icon="bubbles" style="display: none"></ion-spinner>
    <ion-content padding="true" class="has-header">
        <div class="list divBorda">
            <div class="item item-thumbnail-left" style="border: none">
                <img src="./img/loading.gif" style="border-radius: 50%" id="imgInfo">
                <h2 class="button-bar" id="redesSociaisInfo">
                    <a id="fbInfo" href="#" class="button icon ion-social-facebook"></a>
                    <a id="ytInfo" href="#" class="button icon ion-social-youtube"></a>
                    <a id="inInfo" href="#" class="button icon ion-social-instagram"></a>
                </h2>
                <a id="linkWpp" class="buttonWhats button button-block button-outline button-small"
                   style="color: black">Whatsapp</a>
            </div>
        </div>
        <div class="list divBorda" style="font-size: 0.3rem">
            <a class="item inline artesInfo" id="arte1">
                &nbsp
            </a>
            <a class="item inline artesInfo" id="arte2">
                &nbsp
            </a>
            <a class="item inline artesInfo" id="arte3">
            &nbsp
            </a>
        </div>
        <ion-item class="divBorda item-icon-left semBorda" style="font-size: 0.9rem!important;">
            <div id="emailInfo">&nbsp</div>
            <i class="icon ion-email"></i>
        </ion-item>
        <ion-item class="divBorda item-icon-left semBorda" style="font-size: 0.9rem!important;">
            <div id="nomeCompletoInfo">&nbsp</div>
            <i class="icon ion-android-contact"></i>
        </ion-item>
        <ion-item class="semBorda divBorda item-icon-left" style="font-size: 0.9rem!important;">
            <i id="iconSexoInfo" class="icon ion-help-circled"></i> <span id="sexoInfo">&nbsp</span>
            <span class="item-note" id="idadeInfo">&nbsp</span>
        </ion-item>
        <div class="divBorda ">
            <ion-item class="item-icon-left semBorda" style="font-size: 1rem!important;">
                <div class="text-center">Sobre</div>
                <i class="icon ion-android-document"></i>
            </ion-item>
            <p id="descricaoInfo" style="margin-left: 4%;">&nbsp</p>
        </div>
    </ion-content>

</ion-view>