<ion-view title="Informacões" id="page16">
    <ion-content padding="true" class="has-header ">
        <div style="display: block; width: 100px; margin-left: auto; margin-right: auto;">
            <img class="animated  fadeIn slower" src="" id="fotoInfo" style="display: block; width: 100%; height: 120px; margin-left: auto; margin-right: auto;">
        </div>
        <div class="row semBorda" style="text-align: center; border-bottom: 1px solid grey;">
            <a href="" id="facebook"    class="button positive col"><i class="icon ion-social-facebook"></i></a>
            <a href="" id="instagram"   class="button col"> <i class="icon ion-social-instagram instaIcone" ></i></a>
            <a href="" id="youtube"     class="button assertive col"><i class="icon ion-social-youtube"></i></a>
        </div>
        <ion-list id="listaInfoCdt">
            <ion-item class="semBorda">
                <span id="nomeInfo"></span>
                <span class="item-note" id="idadeInfo"></span>
            </ion-item>
            <ion-item class="semBorda">
                <span id="nomeArtisticoInfo"></span>
            </ion-item>
            <ion-item class="semBorda">
                <span id="sexoInfo"></span>
                <span class="item-note" id="nomeArteInfo"></span>
            </ion-item >
            <ion-item class="item-icon-right semBorda">
                <div id="emailInfo"></div>
                <i class="icon ion-email"></i>
            </ion-item>
            <a href="" id="linkWpp" class="item item-icon-right semBorda" >
                <div id="telInfo"></div>
                <i class="icon ion-social-whatsapp"  style="color: green"></i>
            </a>

            <label class="item item-input item-stacked-label semBorda">
                <span class="input-label" >Sobre</span><textarea rows="5" disabled id="descricaoInfo"></textarea></label>
            <label class="item item-input item-stacked-label semBorda">
                <span class="input-label" >Projetos atuais</span><textarea
                    id="projetosInfo" disabled rows="5"></textarea></label>
            <button class="button button-dark button-block" onclick="" id="btnInfo" style="display: none"></button>

        </ion-list>

</ion-content>
</ion-view>