<ion-view title="Informações sobre noticias" id="page21" style="background-color:#D1D1D1;">
    <ion-header-bar class=" icon-right" style="padding: 0px">

    </ion-header-bar>
    <ion-content  class="header-noticia">

        <div class="list" style="padding: 0px">
            <ion-item class="item-divider-ios">
                <h2 id="titloNoticia" class="text-center"></h2>
            </ion-item>
            <ion-item  style="padding-left: 0px;padding-right: 0px;">
                <img src="" style="width: 100%;" id="imagemNoticiaInfo">
            </ion-item>
            <div>
                <div class="desc-inf-page">
                    <p id="descricaoNoticia"></p>
                </div>
            </div>


        </div>


    </ion-content>
</ion-view>