<ion-view id="page21">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="header-noticia has-header">

        <div id="mesAcontecimento">
            <div id="acontecimentoEmpty" style="text-align: center; display: none;">
                <img src="./img/notCalender.png" style="width: 200px; ">
                <p style="color: red; font-size: 1rem; text-align: center;">Nenhum evento previsto para esse mês!</p>
            </div>
        </div>

    </ion-content>
</ion-view>