<ion-view title="Login" id="page15">
    <ion-content padding="true" class="has-header">
        <form id="login-form10" class="list" style="padding-top: 30px">
            <ion-list id="login-list16">
                <label class="item item-input" id="login-input26">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" id="email">
                </label>
                <label class="item item-input" id="login-input27">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="" id="senha">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <p id="validoEmail" style="text-align: center; color: red"></p>
            <a id="btnCadastraCadart" class="button button-positive button-block button-outline"
               onclick="InputEmailValido()">Entrar</a>
            <a ui-sref="cadastrar()" id="login-button47"
               class="button button-positive button-block button-clear">Criar Conta</a>
        </form>

    </ion-content>
</ion-view>