<ion-view title="Notícias" id="page2">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-clear icon ion-android-refresh" onclick="atualizarPaginas()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="header-noticia refresh has-header"

    <div class="row" style="margin-top: 6%">

        <a class="item item-thumbnail-left col-50" href="#" style="display: inline-block">
            <img src='./img/Feira.JPG'>
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left col-50" href="#" style="display: inline-block">
            <img src='./img/Feira.JPG'>
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </a>

    </div>



        <!--<div id="listaPublicidade" style="margin-top: 6%">-->
            <!--<div class="row">-->
                <!--<div class="col .col-33">-->
                    <!--<div class="item item-image" style='border: none;'>-->
                        <!--<img src='./img/Mapa_de_Localização.png' style="display: inline-block;">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col .col-33">-->
                    <!--<div class="item item-image" style='border: none;'>-->
                        <!--<img src='./img/Feira.JPG' style="display: inline-block;">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col .col-33">-->
                    <!--<div class="item item-image" style='border: none;'>-->
                        <!--<img src='./img/Feira.JPG' style="display: inline-block;">-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <div id="listaEventoNoticas"></div>
    </ion-content>
</ion-view>