<ion-view title="Notícias" id="page2">
    <ion-content padding="true" class="header-noticia refresh has-header">
        <ion-refresher on-refresh="doRefresh()" spinner="crescent" pulling-icon="ion-ios-arrow-down" style="margin-top: 6%;">
        </ion-refresher>
        <!--<ion-slide-box style="width:calc(100% + 20px); margin-left:-10px; margin-top: 3%" show-pager="false" id="slidePublicidade">-->
        <!--</ion-slide-box>-->
        <div id="listaEventoNoticas">
        </div>
    </ion-content>
</ion-view>