<ion-view title="Cadastro de evento" id="page28">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear " ui-sref="tabsController.noticias"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header has-footer">
        <label class="item item-input item-stacked-label" for="btnFotoCadart">
            <img src="img/semImagem.png" id="imgThumbnail"
                 style="display: block; width: 300px; height: 250px; margin-left: auto; margin-right: auto;">
            <input type="file" id="imputImg" style="display: none">
        </label>

        <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                class="button button-dark button-small button-block" id="btnFotoCadart"
                onclick="abrirImpFile('imputImg'), salvaImagemImput()">Alterar Foto
        </button>
        <p>id evento</p>
        <input type="number" id="coluna" style="border: 1px solid black">
        <input type="text" id="sigla" style="border: 1px solid black">

        </form>
        <button style="font-size:15px;border-radius:5px 5px 5px 5px;"
                class="button button-dark button-small button-block"
                onclick="inserirImagem(document.getElementById('coluna').value,document.getElementById('sigla').value.toUpperCase())">Cadastrar
        </button>

        <ion-list id="listaFotos">

        </ion-list>

    </ion-content>


</ion-view>
