<ion-view id="page29" title="Autenticar usuarios">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear" ui-sref="tabsController.noticias"
                onclick="pullToRefreshHome()"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader subCabecalho">
        <div class="button-bar">
            <a class="button button-calm button-small barra-autenticar desbilitado" disabled>Novos</a>
            <a class="button button-calm button-small barra-autenticar" ui-sref="autenticadosCadart"
               onclick="cadartAutenticarVisibilidadeN()">Autenticados</a>
        </div>
    </ion-header-bar>
    <ion-content padding="false" class="has-header">

        <ul class='list'>
            <li class="item item-thumbnail-left balanced">
                <img src=''>
                <h2 style="margin: 0px; font-size: 17px; font-weight: bolder; margin-top: 30px;"> titulo </h2>
                <div class="item-icon-right">
                    <i style="height: 23%; margin-right: 3%" class="icon ion-eye inline"></i>
                </div>
                <div style="float: right; margin-right: -15px; margin-top: -33px; text-align: center;">
                    <div style="height: 30px">
                        <a class='button button-light' style="display: grid;" href='#/page20'>
                            <div style="font-weight:600;color:#0092FF;font-size:17px;">Editar</div>
                        </a>
                    </div>
                    <div style="height: 30px">
                        <a class='button button-light'>
                            <div style="font-weight:600;color:#FF0020;font-size:17px;">Excluir
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
