<ion-view title="Turismo" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="turismo-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="turismo-slide215" style="background:url(&quot;img/xtH8WPisSUibzB9Gs25I_t1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="turismo-slide216" style="background:url(&quot;img/0ivQcAtGRBO6qP7sxlFv_t2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="turismo-slide217" style="background:url(&quot;img/SHPeu3ynRdKmf82paAVl_t3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="turismo-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:19px;">Praça da igreja </p>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/OW2noUTtYSc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="turismo-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>